
#welcome{
  background-image: url('assets/backgrounds/h_img.jpg');

  background-repeat: no-repeat;
  margin-bottom: auto;


}
body{
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}


#h1welcome{
  color: white;
  text-align: center;
}
#p1welcome{
  color: white;
  text-align: center;
}
#About_us{
  background-color:#EDE6E3;
  color: black;
  align:center;
  margin-top: 0;
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 300px;
  padding-right: 300px;

}
#h1About{
  align:center;
}
#p1About{
  align:center;
}
#Services{
    background-image: url('assets/backgrounds/s_image.jpg');
    color: white;
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;

}

#What_we_do{
  background-color:#EDE6E3;
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;



}
.container_design{
  align-items:left;
}
.container_dev{
  justify-content: center;
}
/*.container_product{
  justify:right;
}*/
#Table_whatwedo{
  display:Table_whatwedo;
}
#Table_caption{
  display: table-caption;
}


.Table_Tshirt {
    display: table;
    background-color: #E7E5E5;
}
.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row {
    display: table-row;
}
.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
}
.Tshirt_Cell{
    color: #7D8730;
}

#img_work4, #img_work3, #img_work2, #img_work1, #img_work5, #img_work6, #img_work7, #img_work8{
  max-height: 150px;
max-width: 200px;
width: 1200px;
height: 1200px;
}
.container_contactUs{
  background-image: url('assets/backgrounds/c_image.jpg');
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 300px;
  padding-right: 300px;

}
#h1contact_us{
  color: white;
  text-align: center;
}
.container_Textarea{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
}
#textArea, #name, #email{
    background: rgba(0, 0, 0, 0);
    color: white;
}
.footer {
    background-color: #EDE6E3;
    padding-top: 30px;
    margin: 0 auto;
    align:center;
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;

}
